body {background: rgb(8,38,92);
  background: linear-gradient(254deg, rgba(8,38,92,1) 0%, rgba(34,40,147,1) 35%, rgba(201,200,219,1) 72%);}

h1, p, h2, h3, h4, h5, h6{
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;font-weight: bold; text-decoration: underline
    }

  h1{font-size: 75px;}

  *{font-family: 'Bebas Neue', cursive;
 }
  
.horizontal-list li {
    display:inline-block; 
    padding: 8px; 
    justify-content: space-between
  } 
  
.skills{display: flex; margin-left: auto;
        margin-right: auto;}

.img {
  clip-path: circle();
  float:right; 
  height: auto;
 ;
} 

.techskills{ display: flex;
  background-color: rgb(255, 255, 255);
border: 2px solid black;} 

.education{background-color: rgb(255, 255, 255)}

